apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minio-es
  namespace: &namespace storage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-connect
  target:
    name: minio-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        rootUser: "{{ .MINIO_ACCESS_KEY }}"
        rootPassword: "{{ .MINIO_SECRET_KEY }}"
  dataFrom:
    - find:
        path: MINIO_
