# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.decrypted~*.toml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Taskfile
.task
# intellij
.idea
# wiki
wiki
# k0s config
k0s-config.yaml
