---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: blocky-datasource-es
  namespace: services
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-connect
  target:
    name: blocky-datasource-secret
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      templateFrom:
        - configMap:
            name: blocky-datasource-tpl
            items:
              - key: datasource.yaml
      metadata:
        labels:
          grafana_datasource: "1"
  dataFrom:
    - find:
        path: POSTGRES_BLOCKY_

