---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
  namespace: databases
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://helm.runix.net chart=pgadmin4
      chart: pgadmin4
      version: 1.31.0
      sourceRef:
        kind: HelmRepository
        name: runix
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      registry: docker.io
      repository: dpage/pgadmin4
      tag: "8.13"
    # pgadmin upgrades get stuck on the PV if we use RollingUpdate
    strategy:
      type: Recreate
    existingSecret: pgadmin-secret
    podAnnotations:
      secret.reloader.stakater.com/reload: pgadmin-secret
    env:
      TZ: ${TZ}
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/name: PG-Admin
        gethomepage.dev/icon: flux-cd.png
      hosts:
        - host: &host "pgadmin.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: "pgadmin-tls"
          hosts:
            - *host
    persistentVolume:
      enabled: true
      storageClass: openebs-hostpath
      accessModes:
        - ReadWriteOnce
      size: 200Mi
    resources:
      requests:
        cpu: 15m
        memory: 283M
      limits:
        memory: 283M
    nodeSelector:
      openebs.io/storage: "true"

    # serverDefinitions:
    #   enabled: true
    #   servers:
    #     "1":
    #       Name: "Authentik DB"
    #       Group: "K8S Cloudnative PG"
    #       Port: 5432
    #       Host: cnpg-authentik-rw.databases.svc.cluster.local
    #       Username: ${PG_SU_USER}
    #       SSLMode: prefer
    #       MaintenanceDB: app
    #       SSLCompression: 0
    #       Timeout: 10
    #       UseSSHTunnel: 0
    #       TunnelPort": "22"
    #       TunnelAuthentication: 0
    #     "2":
    #       Name: "Lldap DB"
    #       Group: "K8S Cloudnative PG"
    #       Port: 5432
    #       Host: cnpg-lldap-rw.databases.svc.cluster.local
    #       Username: ${PG_SU_USER}
    #       SSLMode: prefer
    #       MaintenanceDB: app
    #       SSLCompression: 0
    #       Timeout: 10
    #       UseSSHTunnel: 0
    #       TunnelPort": "22"
    #       TunnelAuthentication: 0

  valuesFrom:
    - kind: Secret
      name: pgadmin-secret
      valuesKey: email
      targetPath: env.email
