apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-es
  namespace: &namespace observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-connect
  target:
    name: grafana-admin-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        admin-user: "{{ .GRAFANA_ADMIN_USER }}"
        password: "{{ .GRAFANA_ADMIN_PASS }}"
  dataFrom:
    - find:
        path: GRAFANA_

