---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      blocky:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: blocky-config
          secret.reloader.stakater.com/reload: blocky-tls, blocky-secret
        # initContainers:
        #   init-db:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 16
        #     envFrom:
        #       - secretRef:
        #           name: blocky-secret
        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.24
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 50m
                memory: 128M
              limits:
                cpu: 500m
                memory: 512M
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       exec:
            #         command:
            #           - /app/blocky
            #           - healthcheck
            #       initialDelaySeconds: 15
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    service:
      app:
        controller: *app
        ports:
          http:
            port: 4000
      dns:
        controller: *app
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: &lbs 10.17.8.4
          coredns.io/hostname: &hostsvc dns.${SECRET_DOMAIN}
          # external-dns.alpha.kubernetes.io/hostname: *hostsvc
        labels:
          io.cilium/lb-ipam-layer2: "true"
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 53
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 53
          dns-dot:
            enabled: true
            port: 853
            protocol: TCP
            targetPort: 853
          dns-https:
            enabled: true
            port: 443
            protocol: TCP
            targetPort: 443

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          hajimari.io/enable: "false"
          cert-manager.io/cluster-issuer: letsencrypt-production
          cert-manager.io/ip-sans: *lbs
        hosts:
          - host: &host blocky.${SECRET_DOMAIN}
            paths:
              - path: /dns-query
                pathType: Prefix
                service:
                  identifier: dns
                  # name: dns-https
                  port: 443
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  # name: main
                  port: 4000
        tls:
          - hosts:
              - *host
              - *hostsvc
              # - *lbs

    persistence:
      config:
        # enabled: true
        type: secret
        name: blocky-secret
        globalMounts:
          - path: /app/config.yml
            subPath: config.yml
            readOnly: true
      certs:
        # enabled: true
        type: secret
        name: blocky-tls
        globalMounts:
          - readOnly: true
