---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: blocky-es
  namespace: services
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-connect
  target:
    name: blocky-secret
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      data:
        # Postgres Init
        INIT_POSTGRES_DBNAME: blocky
        INIT_POSTGRES_HOST: cnpg-blocky-rw.databases.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_BLOCKY_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_BLOCKY_PASS }}"
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
      templateFrom:
        - configMap:
            name: blocky-config
            items:
              - key: config.yml
  dataFrom:
    - find:
        path: POSTGRES_BLOCKY_
    - find:
        path: POSTGRES_SUPER_
